<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <title>3D Base</title>
</head>
<body>
<div class="container">
    <h2>D3 Graphic</h2>
    <div class="item">Aminu Bin Ibrahim</div>
    <div class="item">Siraj Ibrahim</div>
    <div class="item">Halima Ibrahim</div>
    <div class="item">Amina Ibrahim</div>
    <div class="item">Zaharadeen Ibrahim</div>
    <div class="item">Shui'abu Ibrahim</div>
    <section id="chart"></section>
</div>
    <script src="/static/js/d3.v5.min.js"></script>
    <script src="/static/js/scriptcontent.js"></script>
    <script>
      d3.selectAll('.item:nth-child(3)').text('This is working');
    </script>
   
</body>
</html>